NEXT_PUBLIC_CHAIN_ID=
NEXT_PUBLIC_CHAIN_NAME=
NEXT_PUBLIC_NATIVE_CURRENCY_NAME=
NEXT_PUBLIC_NATIVE_CURRENCY_SYMBOL=
NEXT_PUBLIC_NATIVE_CURRENCY_DECIMALS=
NEXT_PUBLIC_RPC_URLS=
NEXT_PUBLIC_BLOCK_EXPLORER_URLS=

# Mainnet reference:
# NEXT_PUBLIC_CHAIN_ID=0x38
# NEXT_PUBLIC_CHAIN_NAME=BNB Smart Chain
# NEXT_PUBLIC_NATIVE_CURRENCY_NAME=Binance Coin
# NEXT_PUBLIC_NATIVE_CURRENCY_SYMBOL=BNB
# NEXT_PUBLIC_NATIVE_CURRENCY_DECIMALS=18
# NEXT_PUBLIC_RPC_URLS=https://bsc-dataseed.binance.org
# NEXT_PUBLIC_BLOCK_EXPLORER_URLS=https://bscscan.com

NEXT_PUBLIC_ESCROW_BACKEND_URL=http://localhost:5000/api/v1
NEXT_PUBLIC_ESCROW_BACKEND_UPLOADS_URL=http://localhost:5000/uploads



NEXT_PUBLIC_ESCROW_WEBSOCKET_URL=
NEXT_PUBLIC_IPFS_GATEWATY_URL=
NEXT_IMAGE_UNOPTIMIZED=