NEXT_PUBLIC_CHAIN_ID=0x38
NEXT_PUBLIC_CHAIN_NAME=BNB Smart Chain
NEXT_PUBLIC_NATIVE_CURRENCY_NAME=Binance Coin
NEXT_PUBLIC_NATIVE_CURRENCY_SYMBOL=BNB
NEXT_PUBLIC_NATIVE_CURRENCY_DECIMALS=18
NEXT_PUBLIC_RPC_URLS=https://bsc-dataseed.binance.org
NEXT_PUBLIC_BLOCK_EXPLORER_URLS=https://bscscan.com
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=

NEXT_PUBLIC_FACTORY_ADDRESS=0x4d3a3ed09acc319ecce8c738f4c551f6171a2d80
NEXT_PUBLIC_REWARD_DISTRIBUTOR_ADDRESS=0x2178442714173f15dbedbd1397925400984c9752
NEXT_PUBLIC_GRMPS_TOKEN_ADDRESS=0xe5189B697a8e679d5151d8740Ccf6A93B9e676B6
NEXT_PUBLIC_BSC_SCAN_URL=https://bscscan.com


# Testnet reference:
# NEXT_PUBLIC_CHAIN_ID=0x61
# NEXT_PUBLIC_CHAIN_NAME=BNB Smart Chain Testnet
# NEXT_PUBLIC_NATIVE_CURRENCY_NAME=Binance Coin
# NEXT_PUBLIC_NATIVE_CURRENCY_SYMBOL=tBNB
# NEXT_PUBLIC_NATIVE_CURRENCY_DECIMALS=18
# NEXT_PUBLIC_RPC_URLS=https://bsc-testnet-rpc.publicnode.com
# NEXT_PUBLIC_BLOCK_EXPLORER_URLS=https://testnet.bscscan.com

NEXT_PUBLIC_ESCROW_BACKEND_URL=http://localhost:5000/api/v1
NEXT_PUBLIC_ESCROW_BACKEND_UPLOADS_URL=http://localhost:5000/uploads



NEXT_PUBLIC_ESCROW_WEBSOCKET_URL=
NEXT_PUBLIC_IPFS_GATEWATY_URL=
NEXT_IMAGE_UNOPTIMIZED=