NEXT_PUBLIC_CHAIN_ID=
NEXT_PUBLIC_CHAIN_NAME=
NEXT_PUBLIC_NATIVE_CURRENCY_NAME=
NEXT_PUBLIC_NATIVE_CURRENCY_SYMBOL=
NEXT_PUBLIC_NATIVE_CURRENCY_DECIMALS=
NEXT_PUBLIC_RPC_URLS=
NEXT_PUBLIC_BLOCK_EXPLORER_URLS=

NEXT_PUBLIC_ESCROW_BACKEND_URL=
NEXT_PUBLIC_ESCROW_BACKEND_UPLOADS_URL=

NEXT_PUBLIC_ESCROW_WEBSOCKET_URL=
NEXT_PUBLIC_IPFS_GATEWATY_URL=
NEXT_IMAGE_UNOPTIMIZED=